# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
desktop.ini
Thumbs.db
.DS_Store

# Build files
build/
dist/
*.egg-info/

# Logs
*.log
